{"openapi":"3.1.0","info":{"title":"IronixPay API","description":"# IronixPay API\n\nWelcome to the **IronixPay API**. Build crypto payment integrations with our REST API.\n\n## Base URL\n- **Production**: `https://api.ironixpay.com`\n- **Sandbox**: `https://sandbox.ironixpay.com`\n\n## Authentication\nInclude your API key in the `Authorization` header:\n```\nAuthorization: Bearer sk_live_your_api_key\n```\n\n## Supported Tokens & Networks\n\n| Token | Networks |\n|-------|----------|\n| USDT  | TRON, BSC, Ethereum, Polygon, Arbitrum, Base, Optimism |\n| USDC  | BSC, Ethereum, Polygon, Arbitrum, Base, Optimism |\n\n> **Sandbox**: TRON Nile testnet (USDT only).\n\n## Amount Convention\n\nAll amounts across the API are represented as **human-readable decimal strings**.\n\n| Example | Meaning |\n|---------|---------|\n| `\"10\"` | 10 USDT/USDC |\n| `\"10.5\"` | 10.5 USDT/USDC |\n| `\"0.01\"` | Minimum precision (0.01) |\n\n- **Minimum**: `0.01`\n- **Maximum**: `10,000,000`\n\n## Webhooks\nConfigure a webhook URL to receive real-time notifications:\n- `checkout_session.paid` — Payment confirmed\n- `checkout_session.expired` — Session expired\n- `checkout_session.underpaid` — Partial payment detected\n- `checkout_session.overpaid` — Excess payment detected\n- `payout.completed` — Payout confirmed on-chain\n- `payout.failed` — Payout failed\n\nAll webhook payloads include an `X-Webhook-Signature` header for verification.\n","contact":{"name":"IronixPay","url":"https://ironixpay.com"},"license":{"name":""},"version":"1.0.0"},"servers":[{"url":"https://sandbox.ironixpay.com","description":"Sandbox (Testnet)"},{"url":"https://api.ironixpay.com","description":"Production (Mainnet)"}],"paths":{"/v1/checkout/sessions":{"get":{"tags":["Checkout Sessions"],"summary":"GET /v1/checkout/sessions","description":"Lists sessions for the authenticated merchant, with optional filtering.","operationId":"list_sessions","parameters":[{"name":"page","in":"query","description":"Page number (default: 1)","required":false,"schema":{"type":"integer","format":"int64","minimum":0}},{"name":"page_size","in":"query","description":"Items per page (default: 20, max: 100)","required":false,"schema":{"type":"integer","format":"int64","minimum":0}},{"name":"search_text","in":"query","description":"Search by session ID, tx hash, or pay address","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"Filter by status (e.g. `Pending`, `Paid`, `Expired`). Supports multiple values via repeated parameter.","required":false,"schema":{"type":"string"}},{"name":"network","in":"query","description":"Filter by network (e.g. `TRON`, `BSC`, `ETHEREUM`)","required":false,"schema":{"type":"string"}},{"name":"created_after","in":"query","description":"Filter sessions created after this ISO 8601 datetime","required":false,"schema":{"type":"string"}},{"name":"created_before","in":"query","description":"Filter sessions created before this ISO 8601 datetime","required":false,"schema":{"type":"string"}},{"name":"include_sub_merchants","in":"query","description":"Include sub-merchant sessions in results","required":false,"schema":{"type":"boolean"}},{"name":"sub_merchant_code","in":"query","description":"Filter to a specific sub-merchant code","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Paginated sessions","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SessionResponse"}}}}},"401":{"description":"Invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"},"example":{"error":{"code":"authentication_failed","doc_url":"https://ironixpay.com/guide/errors#authentication_failed","message":"Invalid API key provided","param":null,"type":"invalid_request_error"}}}}}},"security":[{"bearer_auth":[]}]},"post":{"tags":["Checkout Sessions"],"summary":"POST /v1/checkout/sessions","description":"Creates a new payment session. Returns a `url` for redirecting the customer\nto the hosted checkout page.\n\nSupports `Idempotency-Key` header for safe retries.\nIf the same key is used with the same request body, returns cached response.\nIf the same key is used with different request body, returns 409 Conflict.","operationId":"create_session","parameters":[{"name":"Idempotency-Key","in":"header","description":"Optional unique key for idempotent requests (recommended: UUID v4)","required":false,"schema":{"type":["string","null"]}},{"name":"X-Sub-Merchant-Code","in":"header","description":"Sub-merchant code for PSP context switch. When provided, the session is created under the specified sub-merchant.","required":false,"schema":{"type":["string","null"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSessionBody"}}},"required":true},"responses":{"201":{"description":"Session created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionResponse"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"},"example":{"error":{"code":"parameter_invalid","doc_url":"https://ironixpay.com/guide/errors#parameter_invalid","message":"Amount must be at least 1 USDT","param":"amount","type":"invalid_request_error"}}}}},"401":{"description":"Invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"},"example":{"error":{"code":"authentication_failed","doc_url":"https://ironixpay.com/guide/errors#authentication_failed","message":"Invalid API key provided","param":null,"type":"invalid_request_error"}}}}},"409":{"description":"Idempotency conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"},"example":{"error":{"code":"idempotency_conflict","doc_url":"https://ironixpay.com/guide/errors#idempotency_conflict","message":"Idempotency key was used with a different request body","param":null,"type":"idempotency_error"}}}}}},"security":[{"bearer_auth":[]}]}},"/v1/checkout/sessions/{id}":{"get":{"tags":["Checkout Sessions"],"summary":"GET /v1/checkout/sessions/:id","description":"Retrieves the details of an existing session, including associated\non-chain transactions.","operationId":"get_session","parameters":[{"name":"id","in":"path","description":"Session ID (e.g. `cs_abc123def456`)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Session found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionResponse"}}}},"401":{"description":"Invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"},"example":{"error":{"code":"authentication_failed","doc_url":"https://ironixpay.com/guide/errors#authentication_failed","message":"Invalid API key provided","param":null,"type":"invalid_request_error"}}}}},"404":{"description":"Session not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"},"example":{"error":{"code":"resource_missing","doc_url":"https://ironixpay.com/guide/errors#resource_missing","message":"No such session: 'cs_abc123'","param":null,"type":"invalid_request_error"}}}}}},"security":[{"bearer_auth":[]}]}},"/v1/payouts":{"get":{"tags":["Payouts"],"summary":"GET /v1/payouts","description":"Lists payouts for the authenticated merchant.","operationId":"list_payouts","parameters":[{"name":"page","in":"query","description":"Page number (default: 1)","required":false,"schema":{"type":"integer","format":"int64","minimum":0}},{"name":"page_size","in":"query","description":"Items per page (default: 20, max: 100)","required":false,"schema":{"type":"integer","format":"int64","minimum":0}},{"name":"include_sub_merchants","in":"query","description":"Include sub-merchant payouts","required":false,"schema":{"type":"boolean"}},{"name":"sub_merchant_code","in":"query","description":"Filter by sub-merchant code","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Paginated payouts","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PayoutResponse"}}}}},"401":{"description":"Invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"},"example":{"error":{"code":"authentication_failed","doc_url":"https://ironixpay.com/guide/errors#authentication_failed","message":"Invalid API key provided","param":null,"type":"invalid_request_error"}}}}}},"security":[{"bearer_auth":[]}]},"post":{"tags":["Payouts"],"summary":"POST /v1/payouts","description":"Creates a new payout to the specified address.\n\nThe payout is created in `Pending` status and processed asynchronously.\nThe Payout Worker will broadcast the on-chain transaction and update status.\n\n**Requires `Idempotency-Key` header** (recommended: UUID v4).","operationId":"create_payout","parameters":[{"name":"Idempotency-Key","in":"header","description":"Unique key for idempotent requests (recommended: UUID v4)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePayoutBody"}}},"required":true},"responses":{"201":{"description":"Payout created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayoutResponse"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"},"example":{"error":{"code":"insufficient_balance","doc_url":"https://ironixpay.com/guide/errors#insufficient_balance","message":"Insufficient balance: have 5.00 USDT, need 10.00 USDT","param":"amount","type":"invalid_request_error"}}}}},"401":{"description":"Invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"},"example":{"error":{"code":"authentication_failed","doc_url":"https://ironixpay.com/guide/errors#authentication_failed","message":"Invalid API key provided","param":null,"type":"invalid_request_error"}}}}},"409":{"description":"Idempotency conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"},"example":{"error":{"code":"idempotency_conflict","doc_url":"https://ironixpay.com/guide/errors#idempotency_conflict","message":"Idempotency key already used for a different payout","param":null,"type":"idempotency_error"}}}}}},"security":[{"bearer_auth":[]}]}},"/v1/payouts/{id}":{"get":{"tags":["Payouts"],"summary":"GET /v1/payouts/:id","description":"Retrieves a payout by ID.","operationId":"get_payout","parameters":[{"name":"id","in":"path","description":"Payout ID (e.g. `po_abc123`)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Payout found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayoutResponse"}}}},"401":{"description":"Invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"},"example":{"error":{"code":"authentication_failed","doc_url":"https://ironixpay.com/guide/errors#authentication_failed","message":"Invalid API key provided","param":null,"type":"invalid_request_error"}}}}},"404":{"description":"Payout not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"},"example":{"error":{"code":"resource_missing","doc_url":"https://ironixpay.com/guide/errors#resource_missing","message":"Payout 'po_abc123' not found","param":null,"type":"invalid_request_error"}}}}}},"security":[{"bearer_auth":[]}]}},"/v1/sub-merchants":{"get":{"tags":["Sub-Merchants"],"summary":"List Sub-Merchants","operationId":"list_sub_merchants","parameters":[{"name":"page","in":"query","description":"Page number (default: 1)","required":false,"schema":{"type":"integer","format":"int64","minimum":0}},{"name":"page_size","in":"query","description":"Items per page (default: 20, max: 100)","required":false,"schema":{"type":"integer","format":"int64","minimum":0}}],"responses":{"200":{"description":"Paginated sub-merchant list","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SubMerchantResponse"}}}}},"401":{"description":"Invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}}},"security":[{"bearer_auth":[]}]},"post":{"tags":["Sub-Merchants"],"summary":"Create Sub-Merchant","operationId":"create_sub_merchant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBody"}}},"required":true},"responses":{"201":{"description":"Sub-merchant created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubMerchantResponse"}}}},"400":{"description":"Validation error (e.g. reserved code, duplicate)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"},"example":{"error":{"code":"reserved_code","doc_url":null,"message":"Sub-merchant code '_self' is reserved and cannot be used","param":"sub_merchant_code","type":"invalid_request_error"}}}}},"401":{"description":"Invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}}},"security":[{"bearer_auth":[]}]}},"/v1/sub-merchants/{code}":{"get":{"tags":["Sub-Merchants"],"summary":"Get Sub-Merchant","operationId":"get_sub_merchant","parameters":[{"name":"code","in":"path","description":"Sub-merchant code (e.g. `shop_tokyo`)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Sub-merchant details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubMerchantResponse"}}}},"401":{"description":"Invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"404":{"description":"Sub-merchant not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}}},"security":[{"bearer_auth":[]}]},"patch":{"tags":["Sub-Merchants"],"summary":"Update Sub-Merchant","operationId":"update_sub_merchant","parameters":[{"name":"code","in":"path","description":"Sub-merchant code (e.g. `shop_tokyo`)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBody"}}},"required":true},"responses":{"200":{"description":"Sub-merchant updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubMerchantResponse"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"401":{"description":"Invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"404":{"description":"Sub-merchant not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}}},"security":[{"bearer_auth":[]}]}}},"components":{"schemas":{"ApiErrorBody":{"type":"object","description":"Stripe-style error response body.\n\nAll API errors are returned in this format:\n```json\n{\n  \"error\": {\n    \"type\": \"invalid_request_error\",\n    \"code\": \"resource_missing\",\n    \"message\": \"No such session: 'cs_123xyz'\",\n    \"param\": \"id\",\n    \"doc_url\": \"https://ironixpay.com/guide/errors#resource_missing\"\n  }\n}\n```","required":["type","code","message"],"properties":{"code":{"type":"string","description":"A short machine-readable code indicating the specific error.","example":"authentication_failed"},"doc_url":{"type":["string","null"],"description":"A URL to more information about the error code reported.","example":"https://ironixpay.com/guide/errors#authentication_failed"},"message":{"type":"string","description":"A human-readable message providing more details about the error.","example":"Invalid API key provided"},"param":{"type":["string","null"],"description":"If the error is parameter-specific, the parameter related to the error.","example":null},"type":{"$ref":"#/components/schemas/ApiErrorType","description":"The type of error. One of `api_error`, `invalid_request_error`, `idempotency_error`."}}},"ApiErrorResponse":{"type":"object","description":"The top-level error response envelope.","required":["error"],"properties":{"error":{"$ref":"#/components/schemas/ApiErrorBody"}}},"ApiErrorType":{"type":"string","description":"Error type classification (Stripe-style).","enum":["invalid_request_error","api_error","idempotency_error"]},"CreateBody":{"type":"object","required":["sub_merchant_code","display_name"],"properties":{"display_name":{"type":"string","description":"Human-readable display name.","example":"Tokyo Branch"},"sub_merchant_code":{"type":"string","description":"Unique code for this sub-merchant (e.g. `shop_tokyo`). Must not start with `_`.","example":"shop_tokyo"}}},"CreatePayoutBody":{"type":"object","description":"POST /v1/payouts — Create a new payout","required":["amount","currency","network","to_address"],"properties":{"amount":{"type":"string","description":"Amount in standard units as a decimal string (e.g., \"10.50\" = 10.50 USDT).\nMin: 1, Max: 10,000,000, Precision: 0.01.","example":"10.50"},"currency":{"type":"string","description":"Currency: \"USDT\" or \"USDC\".","example":"USDT"},"description":{"type":["string","null"],"description":"Optional human-readable description.","example":"Affiliate commission for January"},"metadata":{"description":"Optional metadata (arbitrary JSON, max 50 keys)."},"network":{"$ref":"#/components/schemas/Network","description":"Blockchain network for the payout."},"to_address":{"type":"string","description":"Destination address on the specified network.","example":"TJn9bXhJMVn1Do3PfFHg5J3YNYN9hPQBqA"}}},"CreateSessionBody":{"type":"object","required":["pricing_amount","pricing_currency","currency","network"],"properties":{"cancel_url":{"type":["string","null"],"description":"The URL the customer is redirected to if they cancel or the session expires. Must be a valid, absolute URL.\nOptional — if omitted, the hosted checkout page will show a generic expiry message instead of redirecting.","example":"https://example.com/cancel"},"client_reference_id":{"type":["string","null"],"description":"A unique string to reference this Checkout Session on your system, such as an order ID or cart ID.\nCan be used to reconcile the session with your internal records. Maximum 200 characters.","example":"order_20260211_001"},"currency":{"type":"string","description":"The on-chain settlement token. This is the crypto token the customer actually pays\nand the merchant receives on-chain.\n\nSupported: `USDT`, `USDC`.\nUSDC requires a compatible `network` (not TRON, not Sandbox).","example":"USDT"},"network":{"$ref":"#/components/schemas/Network","description":"The blockchain network to use. All 7 networks are available in **production** (`sk_live_`).\n**Sandbox** (`sk_test_`) currently only supports `TRON` (mapped to TRON Nile testnet).\nMust match the environment of the API key used for authentication."},"pricing_amount":{"type":"string","description":"The amount in `pricing_currency` units, as a decimal string.\n\nWhen `pricing_currency` is crypto (= `currency`): the exact token amount to collect.\nWhen `pricing_currency` is fiat: the fiat amount; the system converts\nusing real-time exchange rates.\n\nExamples: `\"10.50\"`, `\"100\"`.\nCrypto: min 1.00, max 10,000,000.00, precision 0.01.\nFiat: must be positive; minimum enforced after conversion (≥ 1 crypto equivalent).","example":"10.50"},"pricing_currency":{"type":"string","description":"The pricing/denomination currency code.\n\n**Crypto** (`USDT`, `USDC`): direct token pricing — must equal `currency`.\n**Fiat** (`USD`, `CNY`, `EUR`, `GBP`, `JPY`, `KRW`, `SGD`, `HKD`, `TWD`, `RUB`):\nthe system converts to the settlement token at the current exchange rate.","example":"USD"},"success_url":{"type":["string","null"],"description":"The URL the customer is redirected to after a successful payment. Must be a valid, absolute URL.\nOptional — if omitted, the hosted checkout page will show a generic success message instead of redirecting.","example":"https://example.com/success"}}},"Network":{"type":"string","description":"Supported blockchain networks.\n\n**Production** (`sk_live_`): All networks are supported.\n**Sandbox** (`sk_test_`): Currently only `TRON` is supported (maps to TRON Nile testnet).","enum":["TRON","BSC","ETHEREUM","POLYGON","ARBITRUM","BASE","OPTIMISM","SOLANA"]},"PayoutResponse":{"type":"object","description":"Payout response object","required":["id","livemode","status","amount","fee","net_amount","currency","network","to_address","created_at"],"properties":{"amount":{"type":"string","description":"Gross amount requested (e.g., \"10\" = 10 USDT)","example":"10"},"completed_at":{"type":["string","null"],"description":"ISO 8601 completion timestamp","example":null},"created_at":{"type":"string","description":"ISO 8601 creation timestamp","example":"2026-02-27T08:30:00+00:00"},"currency":{"type":"string","description":"Currency (\"USDT\" or \"USDC\")","example":"USDT"},"description":{"type":["string","null"],"description":"Human-readable description","example":"Affiliate commission for January"},"error_reason":{"type":["string","null"],"description":"Error reason (if status=Failed)","example":null},"fee":{"type":"string","description":"Platform fee deducted (e.g., \"1.5\" = 1.5 USDT)","example":"1.5"},"id":{"type":"string","description":"Payout ID (e.g. \"po_abc123\")","example":"po_a1b2c3d4e5f6"},"livemode":{"type":"boolean","description":"Whether this is a live or sandbox payout","example":false},"net_amount":{"type":"string","description":"Net amount sent on-chain (e.g., \"8.5\" = 8.5 USDT)","example":"8.5"},"network":{"type":"string","description":"Blockchain network","example":"TRON"},"reviewed_at":{"type":["string","null"],"description":"When approval/cancellation happened","example":null},"reviewed_by":{"type":["string","null"],"description":"Who approved/cancelled (user_id)","example":null},"status":{"$ref":"#/components/schemas/PayoutStatus","description":"Current status: Pending, Processing, Completed, Failed"},"sub_merchant_code":{"type":["string","null"],"description":"Sub-merchant code (None if belongs to parent merchant directly)","example":"shop_tokyo"},"to_address":{"type":"string","description":"Destination address","example":"TJn9bXhJMVn1Do3PfFHg5J3YNYN9hPQBqA"},"tx_hash":{"type":["string","null"],"description":"On-chain transaction hash (once broadcast)","example":null}}},"PayoutStatus":{"type":"string","enum":["Pending","Processing","Completed","Failed","PendingApproval","Cancelled","ApprovalExpired"]},"PricingInfo":{"type":"object","description":"Pricing snapshot — always present. For crypto-only sessions, pricing_currency\nequals the settlement currency (e.g., \"USDT\") and exchange_rate is \"1\".","required":["currency","amount","exchange_rate"],"properties":{"amount":{"type":"string","description":"The original amount in the pricing currency (e.g., \"10.50\").","example":"10.50"},"currency":{"type":"string","description":"The pricing/denomination currency code (e.g., \"USD\", \"CNY\", or \"USDT\").","example":"USD"},"exchange_rate":{"type":"string","description":"The exchange rate at session creation (1 crypto = N fiat, or \"1\" for crypto-only).","example":"1.00000000"}}},"SessionResponse":{"type":"object","required":["id","livemode","merchant_name","network","currency","amount","amount_received","pay_address","status","url","expires_at","created_at","pricing"],"properties":{"amount":{"type":"string","description":"The total amount expected for this session, in standard units (e.g., `\"10.5\"` = 10.5 USDT).","example":"10.5"},"amount_received":{"type":"string","description":"The total amount received so far, in standard units. Updated as on-chain payments are detected.","example":"10.5"},"cancel_url":{"type":["string","null"],"description":"The URL the customer is redirected to if payment is cancelled or the session expires.","example":"https://example.com/cancel"},"chain_family":{"type":["string","null"],"description":"Chain family for frontend polling dispatch (\"tron\" or \"evm\")."},"client_reference_id":{"type":["string","null"],"description":"The merchant's custom reference ID, if provided at session creation.","example":"order_20260211_001"},"created_at":{"type":"string","description":"The time at which the session was created, in UTC (ISO 8601).","example":"2026-02-11T03:56:00Z"},"currency":{"type":"string","description":"The settlement token code (always a crypto token: `USDT` or `USDC`).","example":"USDT"},"currency_contract":{"type":["string","null"],"description":"USDT/USDC contract address for this network/environment.\nUsed by frontend for wallet deeplinks and payment detection polling."},"detection_rpc_url":{"type":["string","null"],"description":"Public RPC URL for frontend payment detection polling."},"expires_at":{"type":"string","description":"The time at which the session expires and no longer accepts payments, in UTC (ISO 8601).","example":"2026-02-11T04:26:00Z"},"fee_amount":{"type":["string","null"],"description":"The platform fee deducted, in standard units (e.g., `\"1\"` = 1 USDT).\nOnly populated for completed sessions (Paid/Overpaid).","example":"1"},"id":{"type":"string","description":"Unique identifier for the Checkout Session, prefixed with `cs_`.","example":"cs_abc123def456"},"livemode":{"type":"boolean","description":"`true` for production (mainnet), `false` for sandbox (testnet).","example":false},"merchant_logo_url":{"type":["string","null"],"description":"Merchant logo URL for white-label checkout branding.\nOnly present when the merchant has uploaded a logo."},"merchant_name":{"type":"string","description":"The display name of the merchant who created this session.","example":"Acme Store"},"net_amount":{"type":["string","null"],"description":"The net amount credited to the merchant after fee deduction, in standard units.\nOnly populated for completed sessions (Paid/Overpaid).","example":"9.5"},"network":{"type":"string","description":"The blockchain network identifier (e.g. `TRON`, `BSC`).","example":"TRON"},"pay_address":{"type":"string","description":"The payment address generated for this session. The customer sends tokens to this address.","example":"TQFEyGNzHZAJmebJUvsoZvJghHm2yNhXAD"},"pricing":{"$ref":"#/components/schemas/PricingInfo","description":"Pricing details. Always present. For crypto-only sessions, echoes the settlement\ncurrency and amount. For fiat sessions, includes exchange rate details."},"status":{"$ref":"#/components/schemas/SessionStatus","description":"The current status of the session. See the session lifecycle documentation for details."},"sub_merchant_code":{"type":["string","null"],"description":"Sub-merchant code if this session was created via PSP context switch.\nOnly present for sub-merchant sessions.","example":"shop_tokyo"},"success_url":{"type":["string","null"],"description":"The URL the customer is redirected to after successful payment.","example":"https://example.com/success"},"transactions":{"type":"array","items":{"$ref":"#/components/schemas/TransactionResponse"},"description":"List of on-chain transactions associated with this session.\nOnly populated when retrieving a single session by ID."},"url":{"type":"string","description":"The URL of the hosted checkout page. Redirect the customer to this URL to complete payment.","example":"https://checkout.ironixpay.com/cs_abc123def456"}}},"SessionStatus":{"type":"string","enum":["Pending","Underpaid","Paid","Overpaid","Expired","Blocked"]},"SubMerchantResponse":{"type":"object","description":"Response DTO for sub-merchant operations.","required":["id","parent_org_id","sub_merchant_code","display_name","child_org_id","status","created_at","updated_at"],"properties":{"child_org_id":{"type":"string","description":"The auto-generated child organization ID."},"created_at":{"type":"string","description":"ISO 8601 creation timestamp.","example":"2026-01-15T08:30:00Z"},"display_name":{"type":"string","description":"Human-readable display name.","example":"Tokyo Branch"},"id":{"type":"string","description":"Unique sub-merchant record ID (e.g. `sm_abc123`).","example":"sm_abc123"},"parent_org_id":{"type":"string","description":"The parent merchant's organization ID."},"status":{"$ref":"#/components/schemas/SubMerchantStatus","description":"Current status: `active` or `suspended`."},"sub_merchant_code":{"type":"string","description":"The unique code identifying this sub-merchant (e.g. `shop_tokyo`).","example":"shop_tokyo"},"updated_at":{"type":"string","description":"ISO 8601 last-updated timestamp.","example":"2026-03-20T10:00:00Z"}}},"SubMerchantStatus":{"type":"string","enum":["active","suspended"]},"TransactionResponse":{"type":"object","required":["network","tx_hash","amount","status","created_at"],"properties":{"amount":{"type":"string","description":"The transfer amount in standard units (e.g., `\"10.5\"` = 10.5 USDT).","example":"10.5"},"created_at":{"type":"string","description":"The time at which the transaction was detected, in UTC (ISO 8601 format, e.g. `2026-02-11T03:56:00Z`).","example":"2026-02-11T03:56:00Z"},"network":{"type":"string","description":"The blockchain network this transaction occurred on (e.g., `\"TRON\"`, `\"BSC\"`, `\"ETHEREUM\"`).\nMay differ from the session's network in cross-chain exception resolution cases.","example":"TRON"},"status":{"type":"string","description":"The on-chain confirmation status: `Confirmed` or `Pending`.","example":"Confirmed"},"tx_hash":{"type":"string","description":"The on-chain transaction hash. Can be used to look up the transaction on a block explorer (e.g. Tronscan).","example":"8d490254caa24a5ff0b6522976a52d90d0e0fc4187dd78659ea2b78236fc8afc"}}},"UpdateBody":{"type":"object","properties":{"display_name":{"type":["string","null"],"description":"Updated display name (optional).","example":"Tokyo Main Branch"},"status":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/SubMerchantStatus","description":"Updated status (optional). `active` or `suspended`."}]}}}},"securitySchemes":{"bearer_auth":{"type":"http","scheme":"bearer","description":"API key authentication. Use `sk_test_...` for sandbox or `sk_live_...` for production."}}},"tags":[{"name":"Checkout Sessions","description":"Create and retrieve payment sessions"},{"name":"Payouts","description":"Send USDT from merchant balance to any on-chain address"},{"name":"Sub-Merchants","description":"Manage sub-merchants for PSP/marketplace use cases"}]}